/*https://www.modularscale.com/?1&em&1.25*/
/* 16px -- ratio 1.25 */
/* colors
background color: rgb(176,190,197)
section color: rgb(120,144,156)
heading and subheading color:  rgb(69,90,100) */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    background-color: rgba(176,190,197, 0.2);
}
p {
    font-weight: 400;
    line-height: 1.4em;
    font-family: Raleway, Verdana, Arial, sans-serif;
    font-size: 20px;
    padding: 10px 30px;
    margin: 10px 10px;
}
h1 {
    font-family: 'Amatic SC', Verdana, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 2.441em;
    font-weight: 700;
    line-height: 2.941em;
    margin: 5px;
    padding-left: 10px;
    background-color: rgb(69,90,100);
}
h2 {
    font-family: 'Amatic SC', Verdana, Arial, sans-serif;
    font-size: 1.563em;
    font-weight: bold;
    line-height: 1.863em;
    margin: 0;
    padding-left: 10px;
}
h3 {
    font-family: Quicksand, Verdana, Arial, sans-serif;
    font-weight: 500;
    padding-left: 10px;
    color: rgb(236,239,241);
    background-color: rgb(69,90,100);
}
address {
    font-family: Raleway, Verdana, Arial, sans-serif;
    font-size: .8em;
    line-height: 1.3em;
}
figcaption {
    font-family: Raleway, Verdana, Arial, sans-serif;
    font-size: 0.8em;
    font-style: italic;
    font-weight: bold;
    align-self: left;
}
footer {
    min-height: 75px;
    background-color: rgb(120,144,156, .6);
    display: block;
    color: white;
    align-content: center;

}
ul {
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
}
hr {
    margin: 0px 0px 0px 5px;
}
b {
    font-weight: bold;
}
ol li {
    margin: 35px 0px;
}
.header {
    width: 1280px;
    height: 800px;
    background-image: url(./images/boys.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: auto;
}
.biography {
    margin: 50px 0 25px 0;
    display: inline-block;
    font-family: 'Amatic SC', Verdana, Arial, sans-serif;
}
.heroText {
    float: left;
    font-size: 50px;
    font-family: 'Amatic SC', Verdana, Arial, sans-serif;
    font-weight: 700;
    margin: 30px 30px;
}
.howTo {
    background-color: rgb(120,144,156, .6);
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    height: 600px;
    display: flex;
}
.howToPicture {
    column-span: 1;
    min-width: 600px;
}
.howToList {
    column-span: 1;
    font-weight: 400;
    line-height: 1.4em;
    font-family: Raleway, Verdana, Arial, sans-serif;
    font-size: 20px;
    padding: 10px 30px;
    margin: 10px 10px;
    min-width: 600px;
}
.bio {
    font-weight: 400;
    line-height: 1.4em;
    font-family: Raleway, Verdana, Arial, sans-serif;
    font-size: 20px;
    padding: 0px 30px;
    margin: 0px 10px;
}
.nav .navbar {
    width: 100%;
    text-align: center;
}
.navbar li {
    list-style-type: none;
    display: inline-block;
    padding: 15px 30px;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Amatic SC', Verdana, Arial, sans-serif;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}
.navlink a {
    text-decoration: none;
    font-weight: bold;
}
.navbar .navright {
    float: right;
    display: block;
    text-align: center;
    padding: 15px 10px;
}
.navbar li:hover {
    background: rgba(129,125,125, .2);
}